body {
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #1f2937;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.hero-second {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

button,
.sign-up {
    background-color: #3882f6;
}

.content-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.footer {
    color: #e5e7eb;
}

