body {
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #1f2937;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.hero-second {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

button,
.sign-up {
    background-color: #3882f6;
}

.content-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.footer {
    color: #e5e7eb;
}

/*above basic styling, below flexbox */

.nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 16px;
}

.header {
    padding-top: 16px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-left: 120px;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    

}

.picture img {
    border: 1px solid black;
    height: 15em;
    width: 30em;
    
    
}

.info {
    height: 15em;
    width: 30em;
}

button {
    font-size: 18px;
    border-radius: 8px;
    padding: 5px 12px;
    border: none;
    
}

.content-header {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card img {
    width: 10em;
    height: 10em;
}

h2 {
    margin: 0;
    padding: 0;
}
    
