body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

html {
    margin: 0;
    min-height: 100%;
}

.header,
.footer {
    background-color: #1f2937;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.hero-second {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

button,
.sign-up {
    background-color: #3882f6;
}

.content-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.quote {
    background-color: #e5e7eb;
    padding: 20px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.footer {
    color: #e5e7eb;
}

/*above basic styling, below flexbox */



ul {
    display: flex;
    gap: 16px;
}

.header {
    padding-top: 16px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-left: 120px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.nav {
    display: flex;
    justify-content: space-between;
    /*position: fixed; breaks the flex for some reason*/
}

.head-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.picture img {
    border: 1px solid black;
    height: 15em;
    width: 30em;
    
    
}

.info {
    height: 15em;
    width: 30em;
}

button {
    font-size: 18px;
    border-radius: 8px;
    padding: 5px 12px;
    border: none;
    color: white;
    
}

.illustration {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.content-header {
    text-align: center;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card img {
    width: 10em;
    height: 10em;
}

h2 {
    margin: 0;
    padding: 0;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.author {
    align-self: flex-end;
    margin: 15px;
}

.quote-text {
    display: flex;
    justify-content: center;
    align-self: center;
}

.sign-up {
    width: 800px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    color: white;
    
}

.sign-up-button {
    border: 1px solid white;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
    
